#contact{
   
  margin: 1em 0;
  .contact-img{
    position: relative;
      right: 0;
      .contact-box{
        color: $color-white;
        padding:0 2em ;
       .tell{
        padding-top: 4em;
       }
          h3{
              padding-top: 8px;
              
          }
          top: 80px;
          left: -50px;
         position: absolute;
          width: 80%;
          height: 50%;
          background-color:#FA5636 ;
      }
  }

  
}
#map{
    width: 100%;
}
.clear{
    clear: both;
}
@media(max-width:980px){

    #contact{
        .contact-text{
            padding-top:5px ;
        }
        .contact-img{
            .contact-box{
                top:5px ;
                
                margin-left: 50px;
                width: 90%;
                height: 50vh;
            }
           img{
            // display: none;
            //   visibility: hidden;
              opacity: 0;
           width: 50%;
           }
        }
      
    }
//    #map{
//        margin-top: 9em;
//    }
}