#mixMap{
  z-index: 0;
    background-image: url(../photo/img_hero_6.jpg);
    height: 60vh;
    
    background-size: cover;
    background-repeat: no-repeat;
    .mixtext{
        h1{
            padding-top: 1em;
            color: $color-white;
            font-weight: 500;
            font-size: 54px;
        }
        p{
            // padding-top: 8px;
            font-size: 18px;
            color: white;
        }
        padding-top: 3em ;
    }
    .tabMenu{
        
        // margin: 5em 50px;
        padding-top:2em;
        button{
            border: none;
          vertical-align: middle;
           padding: 5px 10px;
            background: #1A2B48;
            color: #fff;
            font-size: 1.3em;
            font-weight: 700;
            transition: background .3s ease-in-out;
            &:hover{
                background: #333;
               
            }
        }
        
        
        .tab-plg{
            position: relative;
            display: none;
                &.active{
                    display: block;
                    
                }
                .tab-content{position: relative;
                  
                    .tab-drop{
                        height: 90px;
                        // border: 1px solid #333;
                    //  height: 110px;
                     
                     .destination{
                         background-color: white;
                        //  padding-left:1em ;
                        width: 33.333%;
                        padding:10px ;
                         border: 1px solid rgb(185, 182, 182);
                         h6{
                             color: $blue;
                         }
                     }
                     }
                     
                      
                    
                    
                    background-color: white;
                   
                    // border: 2px solid  rgb(86, 86, 131);
                    padding: 20px;
                    width: 100%;
                 
                }
                .searc-but{
                    button{
                        width: 100%;
                        // margin-left: 40px;
                        padding: 29px 40px;
                     background-color: #5191FA;
                    }
                }
            
   
         
        }
       
    }

}
@media(max-width:790px){
    #mixMap{
        height: 80vh;
        .mixtext{
           h1{
               font-size: 25px;
           }
        }

        .tabMenu{
            
            flex-wrap: wrap;
            
            button{
                // margin-top: 5px;
                padding: 5px 30px; 
           h6{
            font-size: 20px; 
    
           }     
            }
          .tab-plg{
             
              .searc-but{
             width: 100%;
            // height: 30%;
        //   display: none;
        button{
            text-align: center;
            // height: 40px;
            padding-top:5px ;
        }
              }
            
          } 
          .tab-content{
            .tab-drop{
                
               flex-wrap: wrap !important;
               .destination{
                   width: 100% !important;
                   height:70px;
                }
            } 
            
         } 
        }
    }
 
}
@media(max-width:1044px){
    #mixMap{
        .mixtext{
padding-top: 20px;
            h1{
                font-size: 30px;
            }
        }
        .tabMenu{
            padding-top: 1px;
    left: 0;
        }
    }

}