#region{
  margin: 6em 0;
  
    
    .region-img{
        position: relative;
        border-radius: 5px;
        margin: 2em 0;
        &:hover{
            .region-text{
                opacity: 1;
            }
            img{
                transform: scale(1.2);
            }
        }
        .region-text{
            height: 100%;
       
       width: 100%;
       position: absolute;
       bottom:0;
       background: #302f2f7a;
       display: flex;
       align-items: flex-end;
       opacity: 0;
       ul{
        li{
            margin:0 5px;
            color: #fff;
        }   
       }
        }
       
        .lemgth{
            width: 50px;
            height: 2px;
            background: rgb(252, 252, 247);
            left: 140px;
            top:140px;
           position: absolute;
        }
       h1{
color: white;
font-size: 25px;
position: absolute;
top: 80px;
left: 105px;
     }
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
            transform: scale(1);  
            transition: .3s ease-in-out;       
          
        }
    }
}